<h1>Profiles</h1>

<%= simple_form_for @profile do |f| %>
  <%= f.input :name, validate: true %>
  <%= f.input :about, validate: true%>
  <%= f.input :gender, validate: true%>
  <%= f.input :happy, validate: true%>
  <%= f.input :homepage, validate: true%>
  <%= f.input :email, validate: true%>
  <%= f.input :date_of_birth, prompt: true, validate: true%>
  <%= f.input :zip_code, validate: true %>
  <%= f.submit "Create!", class: "btn btn-primary btn-lg" %>
<% end %>
